.sticky::-webkit-scrollbar{
    width: 12px;
}

.sticky::-webkit-scrollbar-track {
    background: #6e3838;  
    border-radius: 50px;      /* color of the tracking area */
  }
  
.sticky::-webkit-scrollbar-thumb {
    background-color: #4a2323;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    border: 2px solid #67191988;  /* creates padding around scroll thumb */
  }